
:root{
    /*--bg-primary: #b47e57;*/
    /*--bg-primary: #FFC0CB;*/
    /*--bg-primary: #FFF5E1;*/
    --bg-secondary: white;
    --text-primary: #8B4513;
    --background:     ;
}


@keyframes movimiento{

    0%
    {
        transform: translateX(-1000px);
    }

}
@keyframes movimiento-invert{

    0%
    {
        transform: translateX(1000px);
    }

}

.navbar-boostrap {
    background-color:   var(--bg-primary);
    color:              var(--text-primary);
}

.navbar-home {
    background-color:   var(--bg-primary);
    color:              var(--text-primary);
}   

.input-color {
    background-color:   var(--bg-primary);
}

.navbar {
    background-color:   var(--bg-primary);
    color:              var(--text-primary);
}

.dropdown-color {
    background-color:   var(--bg-primary);
    color:              var(--text-primary);
}


.footer {
    background-color:   var(--bg-primary);
    color:              var(--text-primary);
}

.input {
    border-color:         var(--bg-primary);
    box-shadow: 0 0 0 1px var(--bg-primary);
}

.text-5xl-animation {
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    animation:      movimiento 1s;
} 

.subtitle-animation {
    animation:      movimiento 2s;
}

.btn-animation {
    animation:      movimiento 3s;
}

.input {
    color: rgb(0, 0, 0);
}

.card-animation {
    animation:      movimiento 1s;
}

.invert-card-animation {
    animation:      movimiento-invert 1s ;
}

.btn-hover:hover {
    background-color:   var(--bg-primary);
    color:              var(--text-primary);
    border-color:       var(--text-primary);
}

body{
    background-color: #FFF5E1;
    color: #5D4037;
    font-family: "lato",sans-serif; 
}

.color{
    
}